@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
  1
  font-family: 'Oswald', sans-serif !important;
}

.no-border {
  border: 0;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

.bg-color{
  background-color: #415EA2 !important;
}

h1 {
  text-transform: uppercase;
}

.name{
  font-size:3.5rem;
}

.contact{
  font-size: 1.2rem;
}

.writeup{
  font-size: 1rem;
  padding: 0 20%;
}
.text-color{
color: #415EA2 !important;
}

section.resume-section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* max-width: 75rem; */
}
section.resume-section .resume-section-content {
  width: 100%;
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.subheading{
  text-transform: uppercase;
}
