<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sandro Silva" />
    <meta name="robots" content="follow"/>

    <link rel='stylesheet' href='../bootstrap/css/bootstrap.css'>
    <link rel='stylesheet' href='../static/css.css'>
    <title>Welcome</title>
</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-dark flex-column flex-md-row bd-navbar bg-color">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav p-2">
            <a class="nav-item nav-link active px-2" href="#">About Me</a>
            <a class="nav-item nav-link px-2" href="#">Education</a>
            <a class="nav-item nav-link px-2" href="#">Work Experience</a>
            <a class="nav-item nav-link px-2" href="#">Research</a>
            <a class="nav-item nav-link px-2" href="#">Technical Skills</a>
          </div>
        </div>
      </nav>
      
        <div class='container-fluid p-0'>
          <img src="../static/img/silva_photo.jpg" class='img-thumbnail rounded-circle mx-auto d-block no-border px-1' width=15% height=15%/>
          <div id='about'>
            <h1 class='text-center my-3 name'><span class='text-capitalize font-weight-bold text-color'>SANDRO LUIS </span><span class='ext-capitalize font-weight-bold'>SILVA</span></p></h1>
            <h2 class='text-center my-3 contact'>
              <svg class='mb-2'width=".8em" height=".8em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"></path>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"></path>
              </svg>
              <span class='text-capitalize font-weight-light text-color'>44 Galaxy Street, Bel-Air, Makati</span>
              
              
              <svg class='ml-2 mb-2'width=".8em" height=".8em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"></path>
              </svg>
              <span class='font-weight-light'>silva.sandroluis@gmail.com </span>


              <svg class='ml-2 mb-2'width=".8em" height=".8em"viewBox="0 0 16 16" class="bi bi-telephone" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.925 1.745a.636.636 0 0 0-.951-.059l-.97.97c-.453.453-.62 1.095-.421 1.658A16.47 16.47 0 0 0 5.49 10.51a16.471 16.471 0 0 0 6.196 3.907c.563.198 1.205.032 1.658-.421l.97-.97a.636.636 0 0 0-.06-.951l-2.162-1.682a.636.636 0 0 0-.544-.115l-2.052.513a1.636 1.636 0 0 1-1.554-.43L5.64 8.058a1.636 1.636 0 0 1-.43-1.554l.513-2.052a.636.636 0 0 0-.115-.544L3.925 1.745zM2.267.98a1.636 1.636 0 0 1 2.448.153l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"></path>
              </svg>
              <span class='text-capitalize font-weight-light text-color'> 0917-795-2887 </span></h1>
          </div>
          
        </div>


        <!-- <img src="" class="img-thumbnail" width="400" height="400">  -->

      
<!-- <script src='https://unpkg.com/@popperjs/core@2'></script> -->
<script src='../bootstrap/js/bootstrap.js'></script>
</body>
</html>